@font-face {
  font-family: "calligraffiti";
  src: url(fonts/calligraffiti/Calligraffiti.ttf);
  font-weight: normal;
  font-style: normal;

  font-family: "aquiline";
  src: url(fonts/Aquiline-two/AquilineTwo.ttf);
  font-weight: normal;
  font-style: normal;

  font-family: "dobkin";
  src: url(fonts/Dobkin/DobkinPlain.ttf);
  font-weight: normal;
  font-style: normal;
}

a:visited {
  color: black;
}

a:link {
  color: black;
}

a:hover {
  color: red;
}

#mentions a:link {
  color: black;
  text-decoration: none;
}


body {
  /* pour la version mobile changer/supp cette valeur */
  margin-left: 200px;
  margin-right: 200px;
}

/* PARTIE HEADER */

h1 {
  text-align: center;
  font-family: "calligraffiti", "aquiline", "dobkin";
  font-size: 90px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

nav li {
  margin-right: 30px;
}

/* PARTIE SECTION */

#Galerie img {
  width: 400px;
  height: 400px;
  margin-right: 15px;
  margin-top: 15px;
  box-shadow: 8px 8px 12px rgb(122, 120, 120);
  max-inline-size: 50%;
}

#Galerie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

/* PARTIE FOOTER */

#mentions ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: -20px;
}

#signature {
  text-align: center;
  margin-top: 50px;
}

#réseaux {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#réseaux img {
  width: 60px;
  height: 40px;
  margin-left: 3px;
}

/* PARTIE SECTION A PROPOS */

#Portrait img {
  width: 250px;
  height: 350px;
  box-shadow: 8px 8px 12px rgb(122, 120, 120);
}

#Portrait {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

h2 {
  text-align: center;
  margin-top: 50px;
}

#Description p {
  text-align: center;
  font-size: 20px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 30px;
  margin-bottom: 150px;
}

/* PARTIE SECTION CONTACT */

#logo_avion {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#Text_contact {
  margin-top: 50px;
}

#Text_contact p {
  text-align: center;
}

#formulaires {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
}

input {
  margin-bottom: 7px;
  background-color: rgb(238, 234, 234);
}

textarea {
  background-color: rgb(238, 234 ,234);
  width: 250px;
}
