/* PARTIE HEADER */

h1 {
    text-align: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  }

  nav li {
  margin-right: 15px;
  }


  /* PARTIE SECTION */

img {
    width: 400px;
    height: 400px;
    margin-right: 15px;
    margin-top: 15px;
}

#Galerie {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}