@font-face {
  font-family: "calligraffiti";
  src: url(fonts/calligraffiti/Calligraffiti.ttf);
  font-weight: normal;
  font-style: normal;

  font-family: "aquiline";
  src: url(fonts/Aquiline-two/AquilineTwo.ttf);
  font-weight: normal;
  font-style: normal;

  font-family: "dobkin";
  src: url(fonts/Dobkin/DobkinPlain.ttf);
  font-weight: normal;
  font-style: normal;
}