@mixin Titre {
  text-align: center;
  font-family: $Typo_titre;
  font-size: 90px;
}

@mixin Galerie {
  width: auto;
  height: auto;
  margin-right: 15px;
  margin-top: 15px;
  box-shadow: $Ombres;
  max-inline-size: 40%;
}

@mixin Bouton {
  margin-bottom: 7px;
  background-color: $fond-buttons;
  border-radius: 0.4em;
  transform: scale(1);
  transition: transform 400ms;
  &:hover{
    transform: scale(1.15);
  }
    
}
